h1 {
    font-family: var(--font-familyMS);
    color: var(--jaune);
}
h4 {
    font-family: var(--font-familyPT);
    font-size: var(--titre-parties);
    color: var(--jaune);
    font-style: italic;
    margin-top: 30px;
}

p {
    font-family: var(--font-familyPT);
    font-size: var(--body);
    line-height: 21px;
}

main {
    margin: 15px;
}

blockquote {
    font-family: var(--font-familyPT);
    font-size: var(--citations);
    margin: 1rem 2rem;
    margin-left: 20px;
    display: block;
    position: relative;
    padding-left: 0px;
}

blockquote::before {
    position: absolute;
    font-size: 5rem;
    left: -2rem;
    top:-1rem;
    content: '\201C';
}

blockquote::after {
    position: absolute;
    font-size: 5rem;
    right: -0.5rem;
    bottom:-3.5rem;
    content: '\201D';
}