.footer {
    background-color: var(--gris);
    margin-top: 30px;
}

.footer_nom {
    font-family: var(--font-familyPT);
    font-size: var(--body);
    text-align: center;
    color: var(--jaune);
    padding-top: 10px;
}

.footer_reseau {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.footer_mail {
    font-family: var(--font-familyPT);
    font-size: var(--cards);
    text-align: center;
    color: var(--jaune);
    border: 2px var(--jaune) solid;
    border-radius: 5px;
    margin-left: 40px;
    margin-right: 40px;
}

.footer_ligne {
    background-color: var(--jaune);
    border: none;
    height: 2px;
    width: 87%;
    margin: -4px;
    margin-top: 20px;
    margin-left: 25px;
}

.footer_mention {
    font-family: var(--font-familyPT);
    font-size: var(--footer);
    color: var(--jaune);
    text-align: center;
    margin-left: -5px;
    margin-top: 5px;
}