/*Page d'accueil*/ 

.accueil_titre2 {
    font-family: var(--font-familyPT);
    color: var(--gris);
    text-align: center;
}

.accueil_ligne1 {
    background-color: var(--jaune);
    height: 2px;
    border: none;
    width: 75%;
    margin-left: 29%;
}

.accueil_ligne2 {
    background-color: var(--jaune);
    height: 1px;
    border: none;
    width: 40%;
    margin-left: 64%;
    margin-top: -2px;
}

.accueil_CP_roman {
    align-items: center;
    display: block;
    margin: auto;
    margin-top: 15px;
}

.accueil_ligne3 {
    background-color: var(--jaune);
    border: none;
    height: 2px;
    width: 75%;
    margin-left: 29%;
    margin-top: 20px;
}

/* Carte 1 et 3 */

.cards {
    margin-top: 30px;
    padding-bottom: 3px;
    border: dashed;
    border-radius: 15px;
    border-color: var(--gris);
}

.cards_img1 {
    position: absolute;
}

.cards_contenu {
    margin-left: 27%;
padding-bottom: 7px;
}

.cards_titre {
    font-family: var(--font-familyPT);
    color: var(--gris);
    margin-top: 5px;
    padding-top: -20px;

}

.cards_soustitre {
    font-family: var(--font-familyPT);
    font-size: var(--legendes-images);
    color: var(--gris);
    margin-top: -20px;
}

.cards_trait {
    background-color: var(--jaune);
    width: 27%;
    height: 1px;
    border: none;
    margin-left: 0;
    margin-top: -10px;
}

.cards_description {
    font-size: var(--cards);
    color: var(--gris);
    line-height: 19px;
    margin-top: -3px;

}

.cards_voir_article {
    text-decoration: none;
    color: var(--jaune);
    position: absolute;
    margin-left: 40%;
    margin-top: -17px;

}

/* Carte 2*/

.cards2 {
    margin-top: 30px;
    padding-left: 3%;
    padding-bottom: 3px;
    border: dashed;
    border-radius: 15px;
    border-color: var(--gris);
}

.cards_img2 {
    position: absolute;
    margin-left: 61%;
    margin-top: -35%;
    z-index: -1;
}

.cards_contenu2 {
    margin-right: 30%;
}

.cards_titre2 {
    font-family: var(--font-familyPT);
    color: var(--gris);
    margin-top: 0px;
    padding-top: -20px;

}

.cards_soustitre2 {
    font-family: var(--font-familyPT);
    font-size: var(--legendes-images);
    color: var(--gris);
    margin-top: -20px;
}

.cards_trait2 {
    background-color: var(--jaune);
    width: 40%;
    height: 1px;
    border: none;
    margin-left: 0;
    margin-top: -15px;
}

.cards_description2 {
    font-size: var(--cards);
    color: var(--gris);
    line-height: 19px;
    margin-top: -5px;

}

.cards_voir_article2 {
    text-decoration: none;
    color: var(--jaune);
    position: absolute;
    margin-left: 36%;
    margin-top: -25px;
}

/*Fin pages d'accueil*/

.article_intro {
    font-family: var(--font-familyPT);
    font-style: italic;
    margin-top: 40px;
}

.CP_roman_cp_img {
    align-items: center;
    display: block;
    margin: auto;
    margin-left: -30px;
}

.resume {
    font-size: var(__resume);
    color: var(--jaune);
}

.ligne1 {
    background-color: var(--gris);
    border: none;
    height: 1.5px;
    width: 425px;
    margin-top: -10px
}

.citations {
   font-style: italic;
}

.ligne2 {
    background-color: var(--jaune);
    border: none;
    height: 1.5px;
    width: 60%;
    margin-left: 20%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.CP_1ere_couverture_img {
    margin-top: 40px;
    margin-left: -20px;
}

.CP_extrait {
    font-family: var(--font-familyPT);
    font-size: var(--resume);
    color: var(--jaune);
    font-weight: 600;
    margin-top: 50px;
}

.CP_extrait_suite {
    font-family: var(--font-familyPT);
    font-size: var(--body);
    color: var(--jaune);
    margin-left: 80px;
    margin-top: -15px;
}

.citations2 {
    font-family: var(--font-familyPT);
    font-size: 0.8rem;
    font-style: italic;
    line-height: 27px;
}

.CP_achat_livre{
    font-family: var(--font-familyPT);
    font-size: 0.90rem;
    font-weight: 600;
    color: var(--jaune);
    text-decoration: underline;
    text-align: center;
    border: dashed;
    border-color: var(--gris);
    border-radius: 5px;
    padding: 20px 20px
}

.autres_oeuvre {
    font-family: var(--font-familyPT);
    font-size: var(--resume);
    color: var(--jaune);
}

.ligne3 {
    background-color: var(--jaune);
    border: none;
    height: 1.5px;
    width: 430px;
    margin-top: -10px
}

.grid1 {
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin-top: 30px;
}

.grid1 figure {
    margin: 0;
    padding: 0;
}

.grid1 figure img {
    display: block;
    margin: auto;
}

.grid1 figcaption {
    font-family: var(--font-familyPT);
    font-size: 0.7rem;
    font-weight: 500;
    text-align: center;
}

.grid1 hr {
    display: flex;
    justify-content: space-around;
    background-color: var(--jaune);
    border: none;
    height: 1.5px;
    width: 55%;
    margin-left: 37px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.savoir_plus {
    font-family: var(--font-familyPT);
    font-size: 0.90rem;
    font-weight: 600;
    color: var(--jaune);
    text-decoration: underline;
    text-align: center;
    border: dashed;
    border-color: var(--gris);
    border-radius: 5px;
    padding: 20px 20px;
    margin-bottom: 30px;
}

.article_suivant {
    font-size: 0.9rem;
    color: var(--gris);
    font-weight: 600;
    text-align: center;
}

.lire {
    color: var(--jaune);
    margin-left: 280px;
    text-align: center;
    border: dashed;
    border-color: var(--gris);
    border-radius: 5px;
    padding: 10px;
}

/*Fin pages Central Park*/

/*Début Page Loup de Wall Street*/

.LWS_livre_img {
    margin-left: -10px;
}

.citations_LWS {
    text-align: center;
}

.LWS_logo_stratton_img {
    align-items: center;
    display: block;
    margin: auto;
    margin-top: 40px;
}

.video {
    align-items: center;
    display: block;
    margin: auto;
    margin-top: 30px;
}

/*Fin Pages Loup de Wall Street*/

/*Début page Art à New York*/

.ANY_new_museum_img {
    align-items: center;
    display: block;
    margin: auto;
}

.ANY_lien {
    color: var(--jaune);
}

.ANY_park_Central_Park {
    margin-top: 40px;
    margin-left: -33px;
}

.ANY_taureau_img {
    margin-left: -20px;
    margin-top: 40px;
}

.ANY_musée_art {
    margin-left: -40px;
    margin-top: 40px;
}

/* Fin page New York*/

/*Page contact*/ 

.form_nom {
    color: var(--jaune);
    background-color: var(--gris);
    margin: 10px;
    border-radius: 10px;
    border: none;
    padding: 3px 3px;
    width: 95%;
}
